.c-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary-light;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: $br-standard;
    font-size: 1.6rem;
    color: $color-black;

    &__header {
        color: $color-secondary-light;
        font-weight: 700;
        font-size: 2rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        color: $color-white;
        font-size: 1.6rem;
        margin: 1rem 0;
        font-weight: 700;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}
