.c-article {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary-light;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: $br-standard;
    font-size: 1.6rem;
    color: $color-black;

    &::after {
        content: '';
        transition: top 600ms ease, opacity 600ms ease;
        opacity: 0;
        height: 5rem;
        width: 2px;
        position: absolute;
        left: -1px;
        top: 70%;
        background: linear-gradient(transparent, $color-secondary-light, transparent);
    }

    &:hover::after {
        top: 25%;
        opacity: 1;
    }

    &__header {
        color: $color-secondary-light;
        font-weight: 700;
        font-size: 2rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        color: $color-white;
        font-size: 1.6rem;
        margin: 1rem 0;
        font-weight: 700;
        text-transform: capitalize;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}
