.c-book {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: $color-primary-light;
    padding: 1rem;
    font-size: 1.6rem;
    margin-top: 2rem;
    background-color: $color-primary-light;

    @include screenTablet {
        grid-template-columns: repeat(2, 1fr);
    }

    &__img {
        display: flex;
        justify-content: center;
        height: 50vh;

        img {
            border-radius: $br-standard;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        &_pair {
            display: flex;
            color: $color-secondary-light;
            margin-bottom: 1rem;

            p {
                color: $color-white;
            }
        }
    }

    &__btns {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include screenTablet {
            width: 50%;
        }

        @include screenDesktop {
            width: 30%;
        }
    }
}
