.c-newsArticle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-primary-light;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: $br-standard;
    font-size: 1.6rem;

    &__header {
        color: $color-secondary-light;
        font-weight: 700;
    }

    &__info {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
}
