.c-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;

    &__tab {
        width: 100%;
        background-color: transparent;
        border: none;
        font-weight: 700;
        color: $secondary-light;
        padding: 1rem;

        &--active {
            border: 0.2rem solid $secondary-light;
            border-radius: 100rem;
        }
    }
}
