.cursor-p {
    cursor: pointer;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 100rem;
    outline: none;
    font-weight: 700;
    cursor: pointer;

    padding: 1rem 0;
    transition: all 0.3s ease-out;

    &--primary {
        background-color: $secondary-light;
        color: $primary-light;

        &.is-disabled {
            background-color: $secondary-dark;
            cursor: default;
        }

        &:hover {
            transform: translateY(-0.3rem);
            box-shadow: 0 0.2rem 2rem $secondary-light;
        }

        &:active {
            transform: translateY(0.1rem);
            box-shadow: 0 0.1rem 1rem $secondary-light;
        }
    }
}
