.cursor-p {
    cursor: pointer;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 100rem;
    outline: none;
    font-weight: 700;
    cursor: pointer;

    padding: 1rem 0;

    &--primary {
        background-color: $secondary-light;
        color: $primary-light;

        &.is-disabled {
            background-color: $secondary-dark;
            cursor: default;
        }

        &:hover {
            background-color: $secondary-dark;
        }
    }
}
