// BACKGROUND COLORS
$color-primary-light: #870f54;
$color-primary-dark: #4e0930;

$color-secondary-light: #eba904;
$color-secondary-dark: #c48d03;

$color-placeholder: rgba(255, 255, 255, 0.5);

// BORDER-RADIUS
$br-standard: 1rem;
$br-pill: 100rem;

// Breakpoints - Mobile first, so no breakpoint for mobile
$bp-min-width-tablet: 767px; // Mobile
$bp-min-width-desktop: 1160px; // Tablet
$bp-min-width-desktop-wide: 1440px; // Large desktop screens (wide screen)
