.p-grades {
    @include pageLayout;

    &__classes,
    &__students {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include screenTablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

        @include screenDesktop {
            grid-template-columns: repeat(4, 1fr);
            gap: 2.5rem;
        }
    }
}
