.p-login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo img {
        height: 30vh;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            height: 4rem;
            width: 100%;
            border: 0.2rem solid $primary-light;
            border-radius: 100rem;
            background-color: $primary-light;
            margin: 1rem;
            color: white;
            padding: 0 3rem;

            &::placeholder {
                color: $white-50;
            }

            &:focus {
                outline: none;
                border: 0.2rem solid $secondary-light;
            }
        }

        p {
            color: $secondary-light;
        }
    }
}
