.p-newTask,
.p-taskEdit {
    @include pageLayout;
    align-items: initial;

    &__form {
        &_pair {
            display: flex;
            align-items: center;
        }

        &_buttons {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }
    }

    .c-toggleSwitch {
        border: 0.2rem solid $color-primary-light;
        border-radius: $br-pill;
    }
}
