.cursor-p {
  cursor: pointer;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 999px;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 0;
}
.btn--primary {
  background-color: #eba904;
  color: #870f54;
}
.btn--primary.is-disabled {
  background-color: #c48d03;
  cursor: default;
}
.btn--primary:hover {
  background-color: #c48d03;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e0930;
}

.p-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-login__logo img {
  height: 30vh;
}
.p-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-login form input {
  height: 3rem;
  width: 100%;
  border: 0.125rem solid #870f54;
  border-radius: 999px;
  background-color: #870f54;
  margin: 0.75rem;
  color: white;
  padding: 0 1.25rem;
}
.p-login form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.p-login form input:focus {
  outline: none;
  border: 0.125rem solid #eba904;
}
.p-login form p {
  color: #eba904;
}

.p-home {
  height: 100vh;
  margin: 0 auto;
  overflow-y: auto;
}
.p-home .container {
  width: 80vw;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-home .container {
    width: 60vw;
  }
}

.c-navbar {
  background-color: #4e0930;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  right: 0;
  z-index: 99;
}
.c-navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
}
.c-navbar__logo img {
  width: 6rem;
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .c-navbar__logo img {
    width: 7rem;
  }
}
.c-navbar__burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
@media screen and (min-width: 768px) {
  .c-navbar__burgerMenu {
    display: none;
  }
}
.c-navbar__icons {
  position: absolute;
  right: 1rem;
  top: 6.25rem;
  visibility: hidden;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  background-color: #870f54;
  border: 0.125rem solid #eba904;
  border-radius: 0.25rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 768px) {
  .c-navbar__icons {
    background-color: transparent;
    border: none;
    flex-direction: row;
    justify-content: center;
    top: 1rem;
    left: 0;
    right: 0;
  }
}
.c-navbar__icons.is-open {
  opacity: 100%;
  visibility: initial;
}
.c-navbar__icons button {
  background-color: transparent;
  border: none;
  width: 3rem;
  transition: all 0.2s ease-in-out;
  margin: 1rem 0.5rem;
}
@media screen and (min-width: 768px) {
  .c-navbar__icons button {
    margin: 1rem 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .c-navbar__icons button {
    margin: 1rem 1.5rem;
  }
}
.c-navbar__icons_home::before {
  content: url("../assets/navbar/home.svg");
}
.c-navbar__icons_home.is-active::before {
  content: url("../assets/navbar/homeHover.svg");
}
.c-navbar__icons_home:hover::before {
  content: url("../assets/navbar/homeHover.svg");
}
.c-navbar__icons_tasks::before {
  content: url("../assets/navbar/tasks.svg");
}
.c-navbar__icons_tasks.is-active::before {
  content: url("../assets/navbar/tasksHover.svg");
}
.c-navbar__icons_tasks:hover::before {
  content: url("../assets/navbar/tasksHover.svg");
}
.c-navbar__icons_schedule::before {
  content: url("../assets/navbar/schedule.svg");
}
.c-navbar__icons_schedule.is-active::before {
  content: url("../assets/navbar/scheduleHover.svg");
}
.c-navbar__icons_schedule:hover::before {
  content: url("../assets/navbar/scheduleHover.svg");
}
.c-navbar__icons_library::before {
  content: url("../assets/navbar/library.svg");
}
.c-navbar__icons_library.is-active::before {
  content: url("../assets/navbar/libraryHover.svg");
}
.c-navbar__icons_library:hover::before {
  content: url("../assets/navbar/libraryHover.svg");
}
.c-navbar__icons_grades::before {
  content: url("../assets/navbar/grades.svg");
}
.c-navbar__icons_grades.is-active::before {
  content: url("../assets/navbar/gradesHover.svg");
}
.c-navbar__icons_grades:hover::before {
  content: url("../assets/navbar/gradesHover.svg");
}
.c-navbar__icons_settings::before {
  content: url("../assets/navbar/settings.svg");
}
.c-navbar__icons_settings.is-active::before {
  content: url("../assets/navbar/settingsHover.svg");
}
.c-navbar__icons_settings:hover::before {
  content: url("../assets/navbar/settingsHover.svg");
}
.c-navbar__icons_logout::before {
  content: url("../assets/navbar/logout.svg");
}
.c-navbar__icons_logout.is-active::before {
  content: url("../assets/navbar/logoutHover.svg");
}
.c-navbar__icons_logout:hover::before {
  content: url("../assets/navbar/logoutHover.svg");
}

.c-modal {
  display: none;
  font-size: 1rem;
  color: #f5f5f5;
}
.c-modal.is-open {
  display: block;
}
.c-modal__header + .c-modal__content {
  margin-top: 1.125rem;
}
.c-modal__content + .c-modal__footer {
  margin-top: 2.25rem;
}
.c-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  outline: none;
}
.c-modal__header {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.c-modal__header_title {
  margin-top: 0.5rem;
  color: #f5f5f5;
  font-size: 1.25rem;
  font-weight: 600;
}
.c-modal__header_description {
  font-size: 0.74em;
  font-weight: 400;
}
.c-modal__body {
  width: 546px;
  background-color: #870f54;
  color: #f5f5f5;
  border-radius: 8px;
  max-width: calc(100% - 30px);
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1.4em 2em 2em 2em;
}
.c-modal__body input {
  font-size: 1em;
}
.c-modal__body i[class*=fa-arrow-right] {
  color: rgb(183, 183, 183);
}
.c-modal--sm .c-modal__body {
  width: 400px;
}
.c-modal--md .c-modal__body {
  width: 720px;
}
.c-modal--lg .c-modal__body {
  width: 910px;
}
@media (max-width: 767px) {
  .c-modal__body {
    max-width: calc(100% - 5rem);
  }
}
.c-modal__footer {
  color: #f5f5f5;
  font-size: 0.875rem;
}
.c-modal__footer_buttons > * {
  font-size: 1rem;
}
.c-modal__footer > .c-group.c-modal__footer_buttons {
  display: flex;
  justify-content: flex-end;
}
