.cursor-p {
  cursor: pointer;
}

.btn {
  width: 100%;
  border: none;
  border-radius: 100rem;
  outline: none;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 0;
}
.btn--primary {
  background-color: #eba904;
  color: #870f54;
}
.btn--primary.is-disabled {
  background-color: #c48d03;
  cursor: default;
}
.btn--primary:hover {
  background-color: #c48d03;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4e0930;
}

html {
  font-size: 62.5%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(20%);
  }
  to {
    transform: translateY(0);
  }
}
.p-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-login__logo img {
  height: 30vh;
}
.p-login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.p-login form input {
  height: 4rem;
  width: 100%;
  border: 0.2rem solid #870f54;
  border-radius: 100rem;
  background-color: #870f54;
  margin: 1rem;
  color: white;
  padding: 0 3rem;
}
.p-login form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.p-login form input:focus {
  outline: none;
  border: 0.2rem solid #eba904;
}
.p-login form p {
  color: #eba904;
}

.p-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
}
.p-news__articles {
  width: 100%;
  font-size: 1.6rem;
}

.p-newsDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
}
.p-newsDetails .container {
  width: 100%;
  margin: 0 auto;
}
.p-newsDetails__btns {
  display: flex;
  margin-top: 1rem;
}

.p-tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
  font-size: 1.6rem;
}
.p-tasks__header {
  width: 100%;
  margin: 1rem 0;
}

.p-library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10%;
}
.p-library__content {
  font-size: 1.6rem;
}
.p-library__content_searchInput {
  width: 100%;
  display: flex;
  justify-content: center;
}
.p-library__content_searchInput input {
  width: 100%;
  height: 3rem;
  border: 0.2rem solid #870f54;
  border-radius: 100rem;
  background-color: #870f54;
  margin: 1rem;
  padding: 0 1rem;
  color: white;
}
.p-library__content_searchInput input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.p-library__content_searchInput input:focus {
  outline: none;
  border: 0.2rem solid #eba904;
}
.p-library__content_books {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media screen and (min-width: 767px) {
  .p-library__content_books {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1160px) {
  .p-library__content_books {
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
  }
}
.p-library .c-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #870f54;
  margin-bottom: 0;
  border-radius: 1rem;
  transition: all 0.5s ease-in-out;
}
.p-library .c-card__img img {
  height: 30vh;
  border-radius: 1rem;
}
.p-library .c-card__header {
  font-weight: bold;
  margin-top: 1rem;
}
.p-library .c-card__info {
  color: #eba904;
}

.c-navbar {
  background-color: #4e0930;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 0 0 1rem 1rem;
  background: rgba(78, 9, 48, 0.6);
  box-shadow: 0 0.1rem 2rem 0 rgba(235, 169, 4, 0.37);
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
}
.c-navbar.is-visible {
  opacity: 100%;
}
.c-navbar__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.6rem;
}
.c-navbar__logo img {
  width: 6rem;
  margin-right: 1rem;
}
@media screen and (min-width: 767px) {
  .c-navbar__logo img {
    width: 10rem;
  }
}
.c-navbar__burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
@media screen and (min-width: 767px) {
  .c-navbar__burgerMenu {
    display: none;
  }
}
.c-navbar__icons {
  position: absolute;
  right: 1rem;
  top: -50%;
  transform: translateY(50%);
  visibility: hidden;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  border-radius: 100rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
@media screen and (min-width: 767px) {
  .c-navbar__icons {
    background-color: transparent;
    border: none;
    flex-direction: row;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
.c-navbar__icons.is-open {
  opacity: 100%;
  visibility: initial;
  background: rgba(78, 9, 48, 0.6);
  box-shadow: 0 0.1rem 2rem 0 rgba(235, 169, 4, 0.37);
  backdrop-filter: blur(0.8rem);
  -webkit-backdrop-filter: blur(0.8rem);
}
@media screen and (min-width: 767px) {
  .c-navbar__icons.is-open {
    background: transparent;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
.c-navbar__icons a,
.c-navbar__icons button {
  background-color: transparent;
  border: none;
  width: 3rem;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}
@media screen and (min-width: 767px) {
  .c-navbar__icons a,
.c-navbar__icons button {
    margin: 2;
    width: 4rem;
  }
}
@media screen and (min-width: 1160px) {
  .c-navbar__icons a,
.c-navbar__icons button {
    margin: 1rem 1.5rem;
    width: 4.5rem;
  }
}
.c-navbar__icons_news::before {
  content: url("../assets/navbar/home.svg");
}
.c-navbar__icons_news.active::before {
  content: url("../assets/navbar/homeHover.svg");
}
.c-navbar__icons_news:hover::before {
  content: url("../assets/navbar/homeHover.svg");
}
.c-navbar__icons_tasks::before {
  content: url("../assets/navbar/tasks.svg");
}
.c-navbar__icons_tasks.active::before {
  content: url("../assets/navbar/tasksHover.svg");
}
.c-navbar__icons_tasks:hover::before {
  content: url("../assets/navbar/tasksHover.svg");
}
.c-navbar__icons_schedule::before {
  content: url("../assets/navbar/schedule.svg");
}
.c-navbar__icons_schedule.active::before {
  content: url("../assets/navbar/scheduleHover.svg");
}
.c-navbar__icons_schedule:hover::before {
  content: url("../assets/navbar/scheduleHover.svg");
}
.c-navbar__icons_library::before {
  content: url("../assets/navbar/library.svg");
}
.c-navbar__icons_library.active::before {
  content: url("../assets/navbar/libraryHover.svg");
}
.c-navbar__icons_library:hover::before {
  content: url("../assets/navbar/libraryHover.svg");
}
.c-navbar__icons_grades::before {
  content: url("../assets/navbar/grades.svg");
}
.c-navbar__icons_grades.active::before {
  content: url("../assets/navbar/gradesHover.svg");
}
.c-navbar__icons_grades:hover::before {
  content: url("../assets/navbar/gradesHover.svg");
}
.c-navbar__icons_settings::before {
  content: url("../assets/navbar/settings.svg");
}
.c-navbar__icons_settings.active::before {
  content: url("../assets/navbar/settingsHover.svg");
}
.c-navbar__icons_settings:hover::before {
  content: url("../assets/navbar/settingsHover.svg");
}
.c-navbar__icons_logout::before {
  content: url("../assets/navbar/logout.svg");
}
.c-navbar__icons_logout.active::before {
  content: url("../assets/navbar/logoutHover.svg");
}
.c-navbar__icons_logout:hover::before {
  content: url("../assets/navbar/logoutHover.svg");
}

.c-modal {
  display: none;
  font-size: 1rem;
  color: #f5f5f5;
}
.c-modal.is-open {
  display: block;
}
.c-modal__header + .c-modal__content {
  margin-top: 2rem;
}
.c-modal__content + .c-modal__footer {
  margin-top: 3.5rem;
}
.c-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  outline: none;
  animation: fadeIn 0.3s ease-out;
}
.c-modal__header {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.c-modal__header_title {
  margin-top: 1rem;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
}
.c-modal__header_description {
  font-size: 1.2rem;
  font-weight: 400;
}
.c-modal__body {
  width: 546px;
  background-color: #870f54;
  color: #f5f5f5;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  max-width: calc(100% - 3rem);
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1.4rem 2rem 2rem 2rem;
  animation: slideIn 0.3s ease-out;
}
.c-modal__body input {
  font-size: 1.6rem;
}
.c-modal__body i[class*=fa-arrow-right] {
  color: rgb(183, 183, 183);
}
.c-modal--sm .c-modal__body {
  width: 400px;
}
.c-modal--md .c-modal__body {
  width: 720px;
}
.c-modal--lg .c-modal__body {
  width: 910px;
}
@media (max-width: 767px) {
  .c-modal__body {
    max-width: calc(100% - 5rem);
  }
}
.c-modal__footer {
  color: #f5f5f5;
  font-size: 1.4rem;
}
.c-modal__footer_buttons > * {
  font-size: 1rem;
}
.c-modal__footer > .c-group.c-modal__footer_buttons {
  display: flex;
  justify-content: flex-end;
}
.c-modal__footer > .c-group.c-modal__footer_buttons button {
  margin-right: 1rem;
}
.c-modal__footer > .c-group.c-modal__footer_buttons button:last-child {
  margin-right: 0;
}

.c-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #870f54;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
}
.c-card__header {
  color: #eba904;
  font-weight: 700;
}
.c-card__info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.c-card__footer_buttons {
  display: flex;
  margin-top: 1rem;
}
.c-card__footer_buttons button {
  margin-right: 1rem;
}
.c-card__footer_buttons button:last-child {
  margin-right: 0;
}

.c-tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}
.c-tabs__tab {
  width: 100%;
  background-color: transparent;
  border: none;
  font-weight: 700;
  color: #eba904;
  padding: 1rem;
  margin-right: 1rem;
}
.c-tabs__tab:last-child {
  margin-right: 0;
}
.c-tabs__tab--active {
  border: 0.2rem solid #eba904;
  border-radius: 100rem;
}

.c-newsArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #870f54;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.6rem;
}
.c-newsArticle__header {
  color: #eba904;
  font-weight: 700;
}
.c-newsArticle__info {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.c-book {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #870f54;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 2rem;
  background-color: #870f54;
}
@media screen and (min-width: 767px) {
  .c-book {
    grid-template-columns: repeat(2, 1fr);
  }
}
.c-book__img {
  display: flex;
  justify-content: center;
  height: 50vh;
}
.c-book__img img {
  border-radius: 1rem;
}
.c-book__info {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.c-book__info_pair {
  display: flex;
  color: #eba904;
  margin-bottom: 1rem;
}
.c-book__info_pair p {
  color: white;
}
.c-book__btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  .c-book__btns {
    width: 50%;
  }
}
@media screen and (min-width: 1160px) {
  .c-book__btns {
    width: 30%;
  }
}
